<div class='side_bar_header'>
  <div class='user_name'>
    <a href='#'>TOM</a> <!--TOMは仮置き-->
  </div>
  <div class='room_create_btn'>
    <a href='#'>チャットを作成する</a>
  </div>
</div>
<div class='rooms'>
  <div class='room'>
    <div class='room_name'><a href='#'>全体チャット</a></div> <!--ルーム名は仮置き-->
  </div>
  <div class='room'>
    <div class='room_name'><a href='#'>チームA</a></div>
  </div>
  <div class='room'>
    <div class='room_name'><a href='#'>チームB</a></div>
  </div>
  <div class='room'>
    <div class='room_name'><a href='#'>チームB</a></div>
  </div>
  <div class='room'>
    <div class='room_name'><a href='#'>チームB</a></div>
  </div>
  <div class='room'>
    <div class='room_name'><a href='#'>チームB</a></div>
  </div>
  <div class='room'>
    <div class='room_name'><a href='#'>チームB</a></div>
  </div>
  <div class='room'>
    <div class='room_name'><a href='#'>チームB</a></div>
  </div>
  <div class='room'>
    <div class='room_name'><a href='#'>チームB</a></div>
  </div>
  <div class='room'>
    <div class='room_name'><a href='#'>チームB</a></div>
  </div>
</div>